# ---------------[ Unity generated ]------------------ #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
UnityGenerated/
mock/MiniGames/ProjectSettings/ProjectVersion.txt
~$*.xlsx
~$*.xlsx.meta
resource-unencrypted
Tmp/*
*.log

# ----[ Visual Studio / MonoDevelop generated / Rider ]------- #
.vs/
ExportedObj/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
*.idea/
*.DotSettings
*.sln
*.csproj
  
# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
 
# -------------[ Build ]------------------------ #
#*.html
AppDebugUserId.text
gmcs.rsp*
smcs.rsp*
